body{
  display: flex;
}
table{
  width: 600px;
  height: 600px;
  border: solid black; 
}
tr, td{
  width: 200px;
  height: 200px;
  border: dashed black;
  text-align: center;
}
td > img{
  position:relative;
  transform: scale(3);
}
#sellBox{
  margin-left: 20px;;
  width: 300px;
  height: 600px;
  border: solid black;
}